---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>OPD Clipboard Tool</title>
		<meta name="description" content="Quick text snippet copy tool for physicians at OPD" />
	</head>
	<body>
		<slot />
	</body>
</html>